body {
    background-color: rgb(6, 80, 190)
  }
  
  .conteudo {
    text-align: center;
  }


  .botao{
    background-color: rgb(219, 219, 219);
  text-align: center;
  font-size: 26px;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 60px;
}

.abas{
width: 100%;
height: 400px;
}


#aba1 {
    background-color: aquamarine;
}
#aba2 {
    background-color: rgb(255, 127, 238);
}
#aba3 {
    background-color: rgb(255, 127, 127);
}
#aba4 {
    background-color: rgb(234, 127, 255);
}
#aba5 {
    background-color: rgb(187, 127, 255);
}

.barra{
    width:100%;
    height: 70px;
    text-align: center;
    background-color: aquamarine;
}

.tablet{
    display:none;
}

.desktop{
    display: none;
}

.mobile{
    font-size:50px;
    color:rgb(163, 128, 128);
}



@media (min-width:800px){
    .desktop{display:none;}
    .mobile{display: none;}

    .barra{
        background-color: navy;

    }

    .tablet{
        font-size: 55px;
        color: grey;
        display: inline;
    }

    .conteudo{
        text-align: right;
    }
    
    .botao{
        margin-top: 0%;
        background-color: rgb(17, 212, 43);
        color: rgb(20, 109, 2);
        width: 19.5%;    
        font-size: 30px;
    }



}

@media (min-width:1228px){
    .mobile{display: none;}
    .tablet{display: none;}


    .barra{
        background-color: dodgerblue;
        height:95px;
    }

    .desktop{
        display:inline;
        font-size: 65px;
        color: black;
    }
    .conteudo{
        text-align: left;
    }
    .btn{
        margin-top: 0%;
        background-color: rgb(17, 189, 212);
        color: rgb(2, 27, 109);
        width: 19.5%;    
        font-size: 45px;
    }
}




