:root {
  --fundo:#ccffea;
  --txt: #000000;
  --fundofoto: #36d365;
  --tamanho1: 48px; 
}
*{
 margin: 0;
 padding: 0;
}



 body{
   background:var(--fundo);
 }



 h1 {
 text-align: center;
 padding: 60px 12px;
 color: var(--txt);
 min-width: 960px;
 }
 p {
   padding: 10px;
   text-align: center;
   color: var(--txt);
  font-size: 31px;
  min-width: 960px;
  position: relative; 
  margin: 38px 38px; 
 }




 .menuPrincipal {
  position: absolute;
  background: 		#cfff83 ;     
  width: 100%;
  height:var(--tamanho1);
  top: 0;
  left: 0;
  color: var(--txt);
  font-size: 40px;
  min-width: 960px;
  border: 5px solid rgb(69, 134, 16) ;
  display: flex; 
  justify-content: center; 
}
 nav ul{
 list-style-type:none;
 }
 li{
  float: left;
 }
 li a{
 display: block;
 color:  var(--txt);
 text-align: center;
 padding: 22 18px;
 height:var(--tamanho1);
 text-decoration: none;
 font-family: "Times New Roman", Times, serif;
 }
 li a:hover{
 background: 		#6e9e74;
 color:black;
 font-size:98%;
 }




 
 

 .rodape{
  
  background: rgb(76, 165, 110);
  color: 	 var(--txt);
  height: 35px;
  display: flex; 
  justify-content: center; 
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position:fixed;
  bottom: 0px;
 width: 100%;

 }


.paginaUlt{
  position:relative;
}



#Foto2 {
 height: auto;
 max-width: 840px;
  max-height: 540px;
  border: 20px outset var(--fundofoto);
  border-radius: 380px;
  min-width: 960px;
  left: 50%;
 transform: translate(-50%, -50%);
  position: relative; 
  width: 760px; 
  margin: 30px 0px;
}

  
/*
.pagina3{                          
 margin-top: 80px;
 min-width: 960px;
 top: auto;
 left: auto;
 width:auto;
 height: auto; 
 text-align: center;
 padding:55px;
 justify-content: center; 
} 
 
 #fotoum {
  width: auto;
  height: auto;
  min-width: 500px;
  min-height: 500px;
  border: 10px outset var(--fundofoto);
  min-width: 960px;
 }

 .Foto1{
  min-width: 960px;
  top: 50px;
  left: 0px;
  width:auto;
  height: auto;
  padding: 1px;
  display: flex;
  justify-content: center;
}*/